
body {
    width : 760px;
    height : 960px;
}
#tablas, #campos {
    width : 200px;
 } 
 
.odd {
     background : rgb(221, 217, 217);   
 }

.T {
    padding : 5px; 
    border : 1px solid black; 
    width : 270px; 
    margin : 5px 0px; 
}

.C {
    padding : 5px;     
    border : 1px solid black; 
    width : 270px; 
    height : 110px;   
 }

 #campos {
    height : 110px;

}

table thead {
   color : white;
   background :  gray    
}

#tablas {
 margin : 0px 6px;    
}

.B {
  padding : 5px; 
    border : 1px solid black; 
    width : 270px; 
    margin : 5px 0px;    
}

.R {
 border : 1px solid black;
 height : 500px;
 width : 750px; 
 overflow: scroll;   
}

.F {
    padding : 5px; 
    border : 1px solid black; 
    width : 741px; 
    margin : 5px 0px;  
    
}

.Left {
 width : 290px; 
 float : left; 
}

.Right {
  border : 1px solid black;
  width : 460px; 
  height : 156px;
  float : left; 
  margin : 5px 0px;  
}

#Query {
 margin : 5px;

}

.Right button {
 margin : 5px 5px 0px; 
}

#result tr:hover {
    background : gray;
    color : white;
    cursor : pointer;
}

.btnselect {
    border : 1px solid gray;
    width : 62px;
    height : 25px
}

.btnselect:hover {
   background : white;
  color : black; 
}
   
.selected {
  background: gray;
  color : white;
  border : 1px solid blue;
}

.ejecuta {
  background : green;
  color : white; 
}

.ejecuta:hover {
  background : yellow;
  color : black; 
}

.limpia {
    background : #8f352e;;
    color : white; 
}
  
.limpia:hover {
    background : yellow;
    color : black; 
}
